p {
   padding:20px;
   border:20px;
   margin:20px;
}

h1 { 
   font-size:25px;
   padding:20px;
   margin:20px;
}

header {
       padding:20px;
       margin:20px;
       border:20px;
}
footer {
       padding:20px;
       margin:20px;
       border:20px;
}
